*{
	padding:0;
	margin:0;
}

#title{
	height: 10%;
	width:50%;
	text-align:center;
	margin-top:1%;
	border-radius:0 10px 10px 0;
	background-color:black;
	position:fixed;
	color:white;
	float:right;
}

#menuItem{
	height: 5%;
	width:30%;
	text-align:center;
	margin:1% 0 0 70%;
	border-radius:10px 0 0 10px;
	background-color:grey;
	color:white;
	float:clear;
}

#gallery{
	position:fixed;
	height: 50%;
	width:100%;
	background:black;
	color:white;
	top:90%;
}

#titleText{
	padding:auto;
}

.math{
	float:clear;
}